{% extends 'base.html' %}

{% block content %}
<div class="container profile-page my-4">
    <div class="row">
        {% for user in users %}
        <div class="col-xl-6 col-lg-7 col-md-12">
            <div class="card profile-header">
                <div class="body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="profile-image float-md-right"> <img src="https://static.vecteezy.com/ti/vetor-gratis/p2/2275847-avatar-masculino-perfil-icone-de-homem-caucasiano-sorridente-vetor.jpg" alt=""> </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-12 ">
                            <h4 class="m-t-0 m-b-0"><strong>{{ user["name"] }}</strong></h4>
                            <span class="job_post fw-bold">email:  </span><span>{{user["email"]}}</span><br>
                            <span class="job_post fw-bold">telefone:  </span><span>{{user["phone"]}}</span><br>
                            <span class="job_post fw-bold">website:  </span><span>{{user["website"]}}</span><br>
                            <div class="my-2">
                                <a href="/user/{{ user["id"] }}" class="btn btn-primary btn-round">editar</a>
                                <a href="" class="btn btn-outline-primary">ver</a>
                            </div>
                        </div>                
                    </div>
                </div>                    
            </div>
        </div>     
        {% endfor %}
    </div>
</div>
    
{% endblock %}